// Portfolio item 1 modal popup - 一号铜介绍
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // 项目内容
                            h2.text-uppercase 1号铜
                            p.item-intro.text-muted 高纯度铜材 · 回收价值高
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/1.jpg', alt='1号铜实物图')

                            p
                                | 1号铜，又称一级铜，是有色金属回收中最优质的铜类品种之一，纯度高达99.9%以上。颜色红亮，表面无焊锡、无油污、无杂质，导电性能优越。
                            ul.list-inline
                                li
                                    strong 特点：
                                    |  高纯度、无污染、电导性强
                                li
                                    strong 来源：
                                    |  剥皮电缆、电机绕组、干净铜排等
                                li
                                    strong 用途：
                                    |  电缆制造、精密电子、铜材再熔炼等

                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | 关闭窗口
