// Portfolio item 5 modal popup - 成卷铝皮
#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog
        .modal-content
            .close-modal(data-bs-dismiss='modal')
                img(src='assets/img/close-icon.svg', alt='Close modal')
            .container
                .row.justify-content-center
                    .col-lg-8
                        .modal-body
                            // 项目详情
                            h2.text-uppercase 成卷铝皮
                            p.item-intro.text-muted 工业铝材常见形态 · 可塑性强、回收价值高
                            img.img-fluid.d-block.mx-auto(src='assets/img/portfolio/5.jpg', alt='成卷铝皮实物图')

                            p
                                | 成卷铝皮是铝板材加工后的卷装形态，常用于建筑、机械、包装等行业。具有延展性好、抗腐蚀强、运输方便等特点，是铝资源回收中体积大、可再利用率高的品类。
                            ul.list-inline
                                li
                                    strong 特点：
                                    | 卷装形态、易搬运、表面光洁、成分稳定
                                li
                                    strong 来源：
                                    | 建材铝皮、设备外壳、工业边料、旧料收购等
                                li
                                    strong 用途：
                                    | 再熔炼、再压延为铝板、铝箔、铝带等材料

                            button.btn.btn-primary.btn-xl.text-uppercase(data-bs-dismiss='modal', type='button')
                                i.fas.fa-xmark.me-1
                                | 关闭窗口
